.high-school-input {
  width: 250px;
  text-align: center;
}
.list-of-highschools:hover {
  background-color: #ddd;
}
.high-school-container {
  max-height: 400px;
  overflow: scroll;
}
.list-of-highschools {
  border: 1px solid #333;
  padding: 10px;
  color: #484848;
}
.list-of-highschools a {
  text-decoration: none;
  color: #484848;
}
.list-of-highschools p:first-child {
  margin-bottom: -10px;
}
.list-of-highschools p:last-child {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.search-high-school {
  margin-top: 10px;
}
.search-high-school input[type="search"] {
  color: black;
}
.search-high-school .search-partition {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #c3c3c3;
}
.search-high-school .search-partition p {
  text-align: center;
}
.highschool div {
  background: #f6fbfd;
  padding: 10px;
}
.highschool div p:first-child {
  font-weight: bold !important;
  font-size: 18px;
  margin-bottom: .5em;
}
.highschool div p:last-child {
  font-size: 16px;
}
.highschool button {
  margin-top: 20px;
}
.selected-high-school {
  margin-top: 22px;
}
.selected-high-school input {
  margin-bottom: 20px;
}
.search-high-school-description p {
  background: #f6fbfd;
  padding: 10px;
  margin-bottom: 22px;
  margin-top: 5px;
}
.search-high-school-description p a {
  color: #36c5f4;
  font-weight: 500;
}
.search-high-school-description p a:hover {
  text-decoration: underline;
}
.save-high-school {
  margin-left: 30px;
  margin-right: 150px;
  width: 300px;
}
.save-high-school button {
  margin-left: auto;
  margin-right: auto;
}
.registration-prompt {
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 75%;
  margin: 35px auto;
}
.registration-prompt a {
  color: #36C5F4;
}
.registration-hs-list {
  background: white;
}
.skip-button {
  width: 40%;
  font-family: 'Roboto', sans-serif;
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 9999;
}
