<div layout="column" layout-fill>
    <md-toolbar class="md-accent" ng-class="{'md-whiteframe-z2': !vm.showConnections}">
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools">
            <md-button ng-hide="vm.showConnections" ng-click="vm.goBack()" class="md-icon-button">
                <md-icon class="material-icons">keyboard_arrow_left</md-icon>
            </md-button>
            <div flex>
                <div ng-show="vm.showConnections">Messaging
                    <span ng-if="vm.stakeholder.email.indexOf('nexttier') > -1">
                        <md-button ng-click="vm.toggleWS();">{{vm.messagingModel.useWebsockets ? 'Disable' : 'Enable'}} WS</md-button>
                    </span>
                </div>
                <div class="ellipsis" ng-hide="vm.showConnections && !vm.groupChat">{{vm.chat.name}}</div>
                <div class="ellipsis" ng-hide="vm.showConnections && vm.groupChat">{{vm.tag.name}}</div>
            </div>
            <md-button ng-click="vm.close()" class="md-icon-button">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
        <div layout="row" class="md-margin" ng-show="vm.showConnections && !vm.showGroups">
            <md-input-container class="md-block messaging-search md-body-1" md-no-float flex
                                layout="row" layout-align="space-between center">
                <md-icon class="material-icons">search</md-icon>
                <input id="contact-search" class="search-input no-border no-background"
                    ng-model="vm.contactSearch"
                    ng-change="vm.search()"
                    type="text" placeholder="{{vm.searchPlaceholder}}"
                    ng-model-options="{ debounce: 500}" />
                    <md-icon ng-click="vm.contactSearch=''" class="messaging-search-clear material-icons"
                            ng-show="vm.contactSearch">close</md-icon>
            </md-input-container>
        </div>
    </md-toolbar>
    <md-toolbar class="md-menu-toolbar md-whiteframe-z2"
                ng-if="vm.showConnections && vm.stakeholder.isCounselor">
        <md-tabs class="md-primary md-hue-3" md-selected="vm.selectedTabIndex" md-stretch-tabs="always">
            <md-tab ng-click="vm.showGroups = !vm.showGroups">Students</md-tab>
            <md-tab ng-click="vm.showGroups = !vm.showGroups">Groups</md-tab>
        </md-tabs>
    </md-toolbar>
    <md-content layout="column" class="bg-white height-offset-45">
        <div ng-if="vm.showConnections" id="connections">
            <div class="text-center"
                 ng-if="vm.contactSearch && !vm.stakeholder.isCounselor && vm.connectionsModel.connections.length === 0"
                 layout="column" layout-align="start stretch">
                <p class="md-subhead md-margin">We couldn't find {{vm.contactSearch}} on your team!</p>
                <p class="error-message" ng-if="vm.showEmailError">Please enter a valid email address</p>
                <md-button class="md-primary md-raised" ng-click="vm.inviteUser()">Invite to NextTier!</md-button>
            </div>
            <md-list ng-if="!vm.showGroups" class="md-list-bordered md-list-loose">
                <md-subheader class="text-dark-blue"
                             ng-if="vm.connectionsModel.pendingConnections.invites.length > 0">
                             Invitations Sent</md-subheader>
                <md-list-item ng-repeat="pendingInvite in vm.connectionsModel.pendingConnections.invites"
                    class="chat-sub-menu-item">
                    <div class="connection-data">
                        <div class="inline-block ellipsis stakeholder-name md-body-1">
                            <span>{{pendingInvite.invite_email}}</span>
                        </div>
                        <md-button class="md-icon-button" ng-click="vm.revokeInvite($event, pendingInvite)">
                            <md-tooltip md-direction="left">Cancel Invitation</md-tooltip>
                            <md-icon class="material-icons connection-btn-red">remove_circle</md-icon>
                        </md-button>
                    </div>
                </md-list-item>
                <md-subheader class="text-dark-blue"
                              ng-if="vm.connectionsModel.pendingConnections.requests.length > 0">
                              Invitations Received</md-subheader>
                <md-list-item ng-repeat="pendingRequest in vm.connectionsModel.pendingConnections.requests"
                    class="chat-sub-menu-item">
                    <div class="connection-data">
                        <div class="inline-block ellipsis stakeholder-name no-margin md-body-1">
                            <span>{{pendingRequest.stakeholder.first_name + ' ' + pendingRequest.stakeholder.last_name}}</span>
                        </div>
                        <div class="inline-block">
                            <md-button class="md-icon-button" ng-click="vm.declineInvite($event, pendingRequest)">
                                <md-tooltip md-direction="left">Decline Invitation</md-tooltip>
                                <md-icon class="material-icons connection-btn-red">thumb_down</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.acceptInvite($event, pendingRequest)">
                                <md-tooltip md-direction="left">Accept Invitation</md-tooltip>
                                <md-icon class="material-icons connection-btn-green">thumb_up</md-icon>
                            </md-button>
                        </div>
                        <span class="unread-indicator float-left"></span>
                        <p class="unread-count" ng-if="connection.count > 0">{{ connection.count }} New Messages</p>
                    </div>
                </md-list-item>
                <md-subheader class="text-dark-blue" ng-show="vm.connectionsModel.connections && vm.connectionsModel.connections.length > 0 && vm.contactSearch">Search Results</md-subheader>
                <md-list-item ng-repeat="searchedConnection in vm.connectionsModel.connections"
                              ng-if="vm.contactSearch"
                              class="chat-sub-menu-item"
                              ng-click="vm.selectConnection(searchedConnection)">
                        <div layout="column" layout-align="space-around stretch" class="line-height-1" flex>{{searchedConnection.get_full_name}}</div>
                        <!--<h4 class="ellipsis stakeholder-name no-margin">{{searchedConnection.email}}</h4>-->
                        <md-icon class="material-icons no-margin">keyboard_arrow_right</md-icon>
                </md-list-item>
                <md-subheader class="text-dark-blue" ng-if="vm.messagingModel.recentMessagesData.length > 0">Recent Messages</md-subheader>
                <div class="text-center text-dark-grey md-margin md-padding" ng-if="vm.messagingModel.recentMessagesData.length === 0">
                    <img class="med-size-photo" src="https://s3.amazonaws.com/next-tier/build/images/messaging/chat-bubble.svg">
                    <h4>Start Talking</h4>
                    <p>You have no recent conversations. Use the search bar above to find team members to message, or enter an email address to invite someone to your team.</p>
                </div>
                <md-list-item ng-click="vm.selectConnection(connection)" class="chat-sub-menu-item"
                              ng-repeat="connection in vm.messagingModel.recentMessagesData track by $index">
                    <span class="unread-indicator" ng-if="connection.count > 0"></span>
                    <div layout="column" layout-align="space-around stretch" class="line-height-1" flex>
                        <div>{{connection.full_name || connection.author.full_name}}</div>
                        <span class="md-caption text-grey" ng-if="connection.count > 0">
                            {{connection.count}}
                            <span>unread message<span ng-hide="connection.count==1">s</span></span>
                        </span>
                    </div>
                    <md-button ng-if="vm.manageConnections" class="md-icon-button"
                        ng-click="vm.removeConnection($event, connection)">
                        <md-icon class="material-icons connection-btn-red">remove_circle</md-icon>
                    </md-button>
                    <md-icon class="material-icons no-margin">keyboard_arrow_right</md-icon>
                </md-list-item>
            </md-list>
            <md-list ng-if="vm.showGroups" class="md-list-bordered md-list-loose">
                <md-list-item ng-repeat="tag in vm.messagingModel.studentTags" class="chat-sub-menu-item"
                    ng-click="vm.selectTag(tag)">
                    <div class="connection-data">
                        <div class="inline-block ellipsis stakeholder-name no-margin md-body-1">{{tag.name}}</div>
                        <md-icon class="material-icons no-margin">keyboard_arrow_right</md-icon>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <chat-window ng-if="!vm.showConnections && !vm.groupChat" chat="vm.chat"
                     layout="column" flex layout-fill></chat-window>
        <group-chat-window ng-if="!vm.showConnections && vm.groupChat" tag="vm.tag"
                           layout="column" flex layout-fill></group-chat-window>
    </md-content>
</div>