<h2>Edit Item: <span>{{ item.name }}</span></h2>

<form id="edit-item" name="detailForm" data-ng-submit="confirm();">

    <h3>Individual Fields</h3>
    <div>
        <label>
            <span>Text</span>
            <textarea type="text" name="body" data-ng-model="item.body" required>
            </textarea>
        </label>
    </div>

    <div>
        <label>
            <span>Addressed Stakeholder</span>
            <input class="form-control" type="text" name="stakeholder" data-ng-model="item.stakeholder">
        </label>

        <label>
            <span>Redirect URL</span>
            <input class="form-control" type="text" name="goto" data-ng-model="item.goto">
        </label>
    </div>

    <div class="form-controls clearfix">
        <button type="button" class="btn btn-default edit-item-cancel" data-ng-click="closeThisDialog()">Cancel</button>
        <button id="edit-item-submit" type="submit" class="btn btn-primary" data-ng-disabled="detailForm.$invalid">Save and exit</button>
    </div>
</form>