<div layout="row"
     layout-align="space-between center"
     layout-margin>
    <div>
        <button type="button"
                data-ng-class="{ 'btn-primary': vm.showSponsored, 'btn-default': !vm.showSponsored }"
                class="btn add-new-item"
                data-ng-click="vm.showActiveSchools()">Active Sponsored Schools</button>
        <button type="button"
                data-ng-class="{ 'btn-primary': !vm.showSponsored, 'btn-default': vm.showSponsored }"
                class="btn add-new-item"
                data-ng-click="vm.hideActiveSchools()">Inactive Sponsored Schools</button>
    </div>
    <div layout="row">
        <md-icon class="material-icons">search</md-icon>
        <label ng-hide="vm.showSponsored">
            <input ng-model="search.name"
                   class="form-control"
                   placeholder="Search by Institution Name" />
        </label>
        <label ng-show="vm.showSponsored">
            <input ng-model="query.name"
                   class="form-control"
                   placeholder="Search by Institution Name" />
        </label>
    </div>
    <div>
        <button type="button"
                class="btn btn-primary add-new-item"
                data-ng-click="vm.openNewSponsorForm()">Add a Sponsored School</button>
    </div>
</div>
<section class="table-fixed">
    <div class="table-fixed-container">
        <table class="table-hover table-bordered table-responsive">
            <thead>
                <th style="width:45%">
                    <div>School Name</div>
                </th>
                <th style="width:20%">
                    <div>
                        <span>Sponsor Priority&ensp;
                            <small>(1 - 100)</small>
                        </span>
                    </div>
                </th>
                <th style="width:25%">
                    <div>Sponsor Period</div>
                </th>
                <th style="width:5%">
                    <div>Edit</div>
                </th>
                <th style="width:5%">
                    <div>Remove</div>
                </th>
            </thead>
            <tbody ng-if="vm.showSponsored">
                <tr data-ng-repeat="school in vm.sponsoredSchools | filter:query.name:strict track by $index">
                    <td>{{school.name}}</td>
                    <td>{{school.priority}}</td>
                    <td>{{school.start_date | date:"MM/dd/yyyy"}} - {{school.end_date | date:"MM/dd/yyyy"}}</td>
                    <td class="text-center">
                        <md-button class="md-icon-button md-accent"
                                   data-ng-click="vm.openEditSponsorForm(school, $index)">
                            <md-icon class="material-icons">edit</md-icon>
                        </md-button>
                    </td>
                    <td class="text-center">
                        <md-button class="md-icon-button md-accent"
                                   data-ng-click="vm.openDeleteSponsorForm(school, $index)">
                            <md-icon class="material-icons">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="vm.showSponsored">
                <tr data-ng-repeat="school in vm.prevSponsored | filter:search.name:strict track by $index">
                    <td>{{school.name}}</td>
                    <td>{{school.priority}}</td>
                    <td>{{school.start_date | date:"MM/dd/yyyy"}} - {{school.end_date | date:"MM/dd/yyyy"}}</td>
                    <td class="text-center">
                        <md-button class="md-icon-button md-accent"
                                   data-ng-click="vm.openEditSponsorForm(school, $index)">
                            <md-icon class="material-icons">edit</md-icon>
                        </md-button>
                    </td>
                    <td class="text-center">
                        <md-button class="md-icon-button md-accent"
                                   data-ng-click="vm.openDeleteSponsorForm(school, $index)">
                            <md-icon class="material-icons">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
